<div class="wrap">
  <h2><%= I18n.t(page_title) %></h2>
  <table class="listform">
    <tbody>
      <tr class="head">
        <th></th>
        <th><%= tl(:name) %></th>
        <th><%= tl(:id_card_number) %></th>
        <th><%= tl(:gender_id) %></th>
        <th><%= tl(:employee_number) %></th>
        <th><%= tl(:license_number) %></th>
        <th><%= tl(:phone_number) %></th>
        <th><%= tl(:mobile_number) %></th>
      </tr>
    </tbody>
    <tbody>
      <% i = 0; for employee in @employees; i = i + 1 %>
        <tr class="alternate">
          <td><%=h i %></td>
          <td><%=h employee.name %></td>
          <td><%=h employee.id_card_number %></td>
          <td><%=h employee.gender.value %></td>
          <td><%=h employee.employee_number %></td>
          <td><%=h employee.license_number %></td>
          <td><%=h employee.phone_number %></td>
          <td><%=h employee.mobile_number %></td>
          <td>
            <%= link_to I18n.t("button_Cloth"), {:controller => 'employee_cloths', :employee_id => employee.id} %>
          </td>
          <td>
            <%= link_to I18n.t("button_Record"), {:controller => 'employee_records',:employee_id => employee.id} %>
          </td>
          <td>
            <%= link_to I18n.t("button_Fund"), {:controller => 'employee_funds', :employee_id => employee.id} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
