<div class="wrap">
  <h2><%= I18n.t(page_title) %></h2>
  <%= error_messages_for :group, :error_group %>
  <div class="editform">
    <% tabular_form_for(@group) do |f| %>
      <%= f.select :parent_id, @parent_groups.collect {|g| [ g.name, g.id ] } %>
      <%= f.text_field :name %>
      <%= f.text_area :contacts, :rows => 2 %>
      <%= f.text_area :address, :rows => 5 %>
      <% if @parent_groups[0].class == UnitGroup %>
      <%= f.calendar_date_select :begin_date %>
      <%= f.calendar_date_select :end_date %>
      <%= f.text_field :quantity %>
      <% end %>
      <%= f.submit I18n.t("button_Save") %>
<% end %>
  </div>
</div>
