<div class="wrap">
  <h2><%= I18n.t(page_title) %></h2>
  <%= error_messages_for :user %>
  <div class="editform">
    <% tabular_form_for(@user, :url => {:action => 'update_password', :id => @user.id}) do |f| %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit I18n.t("button_Save") %>
    <% end %>
  </div>
</div>
