<div id="list_resource_form" class="wrap">
  <h2><%= I18n.t(page_title) %></h2>
  <table class="listform">
    <tr class="head">
      <th></th>
      <th><%= tl(:name) %></th>
      <th><%= tl(:email) %></th>
      <th><%= tl(:roles) %></th>
    </tr>
    <% i = 0; for user in @users; i = i + 1 %>
      <tr class="alternate">
        <td><%=i %></td>
        <td><%=h user.name %></td>
        <td><%=h user.email %></td>
        <td><%=h user.roles.collect {|r| r.name }.join(',') %></td>
        <td><%= link_to I18n.t("button_Edit"), edit_user_path(user) %></td>
        <td><%= link_to I18n.t("button_ChangePassword"), :action => 'change_password', :id => user.id %></td>
        <td><%= link_to I18n.t("button_Delete"), user, :confirm => I18n.t("prompt_delete_user"), :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to I18n.t("button_Create"), new_user_path %>
</div>
