<div class="wrap">
  <h2>奖惩记录</h2>
  
  姓名:<%=h @employee.name %>
  身份证:<%=h @employee.id_card_number %>
  工号:<%=h @employee.employee_number %>
  <br/><br/>
  
  <table class="listform">
    <tbody>
      <tr class="head">
        <th>序号</th>
        <th>记录日期</th>
        <th>处理原因</th>
        <th>处理结果</th>
        <th colspan="3">操作</th>
      </tr>
    </tbody>
    <tbody>
      <% for employee_record in @employee_records %>
        <tr class="alternate"> 
          <td><%=h employee_record.id %></td>
          <td><%=h employee_record.record_date.strftime("%Y年%m月%d日") %></td>
          <td><%=h employee_record.reason %></td>
          <td><%=h employee_record.result %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <p class="submit">
    <%= link_to '奖罚记录', { :controller => 'employee_records', :action => 'new', :employee_id => @employee.id } %>
  </p>
</div>
