<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title id='title'>Mommoth HR System</title>

  <%= stylesheet_link_tag "mammoth", :media => "all" %>
  <%= javascript_include_tag :defaults %>

  <!-- ** CSS ** -->
  <!-- base library -->
  <%= stylesheet_link_tag "../javascripts/ext/resources/css/ext-all.css" %>
  <!-- overrides to base library -->

  <!-- ** Javascript ** -->
  <!-- ExtJS library: base/adapter -->
  <%= javascript_include_tag "ext/adapter/ext/ext-base.js" %>
  <!-- ExtJS library: all widgets -->
  <%= javascript_include_tag Rails.env.development? ? "ext/ext-all-debug.js" : "ext/ext-all.js" %>
  <!-- overrides to library -->
  <!-- extensions -->
  <!-- page specific -->

<% javascript_tag do %>
Ext.onReady(function() {
    Ext.QuickTips.init();

    var navigatorPanel = new Ext.tree.TreePanel({
        region: 'west',
        collapsible: true,
        title: '组织结构',
        xtype: 'treepanel',
        width: 200,
        autoScroll: true,
        split: true,
        loader: new Ext.tree.TreeLoader({
            url:'/yat/query/limit_group',
            requestMethod:'GET',
            baseParams:{format:'json'}
        }),
        root: new Ext.tree.AsyncTreeNode(),
        rootVisible: false,
        listeners: {
            click: function(n) {
                //Ext.getCmp('my-grid').store.load({params: {id: n.attributes.id}});
                //Ext.Msg.alert('Navigation Tree Click', 'You clicked: "' + n.attributes.id + '"');
                Ext.getDom('search_Employee__group_id').value = n.attributes.id;
                Ext.getDom('search_Employee__group_name').value = n.attributes.text;
            }
        }
    });

    var handleAction = function(action) {
        if(action == '/query/employees')
            window.location = action;
        else
            Ext.getCmp('worksheet').load({url: action});
    };

    var menuBar = new Ext.Toolbar({
            enableOverflow: true,
            items: <%= session[:menu_data] %>
        });

    var logoutAction = function(action) {
      window.location = '/yat/security/logout'
    };

    menuBar.add('->', {
            text: '[<%=h @current_user.name %>]'
        },'-',{
            text: '[<%=h @current_group.name %>]'
        },'-',{
            text: '退出',
            handler: logoutAction,
        });

    var contentPanel = {
        id: 'worksheet',
        contentEl: 'workspace',
        region: 'center',
        autoScroll: true,
        tbar: menuBar
    };

    var vp = new Ext.Viewport({
        layout: 'border',
        items: [
            navigatorPanel,
            contentPanel
        ]
    });
});
<% end %>

  <script type="text/javascript">
      // Path to the blank image should point to a valid location on your server
      Ext.BLANK_IMAGE_URL = '/javascripts/ext/resources/images/default/s.gif';
  </script>
</head>
<body>
<div id="workspace">
  <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
  <%= yield :layout %>
</div>
</body>
</html>