<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title id='title'>Mermaid HR System</title>

  <%= stylesheet_link_tag "mammoth", :media => "all" %>
  <%= javascript_include_tag :defaults %>

  <!-- ** CSS ** -->
  <!-- base library -->
  <%= stylesheet_link_tag "../javascripts/ext/resources/css/ext-all.css" %>
  <!-- overrides to base library -->

  <!-- ** Javascript ** -->
  <!-- ExtJS library: base/adapter -->
  <%= javascript_include_tag "ext/adapter/ext/ext-base.js" %>
  <!-- ExtJS library: all widgets -->
  <%= javascript_include_tag Rails.env.development? ? "ext/ext-all-debug.js" : "ext/ext-all.js" %>
  <!-- overrides to library -->
  <!-- extensions -->
  <!-- page specific -->
  <%= javascript_include_tag "page/yat.js" %>

  <script type="text/javascript">
      // Path to the blank image should point to a valid location on your server
      Ext.BLANK_IMAGE_URL = '/javascripts/ext/resources/images/default/s.gif';
  </script>
</head>
<body>
<div id="workspace">
  <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
  <% end -%>
  <%= yield :layout %>
</div>
</body>
</html>